*.DS_Store
*.ipynb_checkpoints*
__pycache__*


data/swiss-national-council/abdb-en-all-affairs-50-0.csv
data/swiss-nacional-council/Ratsmitglieder_1848_EN.csv

data/BSDS300/human/
data/BSDS300/images/
data/BSDS300/iids_test.txt
data/BSDS300/iids_train.txt

