matplotlib==3.1.0
networkx==2.3
numpy==1.21.0
pandas==0.24.2
pathos==0.2.3
Pillow==9.0.0
pyflann3==1.8.4.1
git+https://github.com/epfl-lts2/pygsp.git@8ce5bde39206129287375af24fdbcd7edddca8c5#egg=PyGSP
git+https://github.com/epfl-lts2/pyunlocbox.git@b22ae58596802f9298abb48e17d41b846f524b43#egg=PyUNLocBoX
scikit-image==0.15.0
scipy==1.3.0
tqdm==4.32.1
